body{
    background-color: lightblue;
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: top;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet
}